build
tests/build
sdk
toolchain
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
.venv
stub_nvm_data

telink_tools
silabs_tools
test_tools

__pycache__
*.pyc
*.pyo
*.pyd

unittest/*.out
unittest/*.dSYM/
unittest/test/test_runners/
